<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuentrada Pe</title>
    <link rel="stylesheet" href="{% static 'escanerPage/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <form id="comprarForm" action="{% url 'escanerPage' %}" method="post">
        {% csrf_token %}
        <div class="header">
            <img src="{% static 'imagenes/headerlogo.png' %}" style="height: 30px; margin-left: 5%; align-self: center;"
                onclick=" javascript:location.reload(true)" />
        </div>
        <div class="containerCamera" id="reader"></div>
        <div class="containerRespuesta" id="containerRespuesta">
            <p id="respuesta"></p>
            <button type="button" onclick="iniciarEscaner()">OK</button>
        </div>
        <div class="footer">
            <img src="{% static 'imagenes/footerlogo.png' %}" height="30px"
                style="display: flex; justify-self: center;  align-self: center;"
                onclick="javascript:location.reload(true)" />
        </div>
    </form>

</body>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"> </script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script defer src="{% static 'escanerPage/script.js' %}"></script>

</html>