<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Html-Qrcode Demo</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/html5-qrcode"></script>
    <link rel="stylesheet" href="{% static 'escanerPage/styles.css' %}">
</head>

<body>
    <div class="header">
        <div class="imagenHeader"><img src="{% static 'comprarPage/logo.png' %}" height="40px"
                onclick="javascript:location.reload(true)"></img></div>
    </div>
    <div class="seleccionarFechaBanner">Lector de entradas</div>

    <div id="qr-reader" class="qrDetector"></div>

    <div id="qr-reader-results"></div>
    <div class="footer">
        <div class="imagenHeader"><img src="{% static 'comprarPage/footerlogo.png' %}" height="40px"></img>
        </div>
    </div>
</body>

<script>
    function docReady(fn) {
        // see if DOM is already available
        if (document.readyState === "complete"
            || document.readyState === "interactive") {
            // call on next available tick
            setTimeout(fn, 1);
        } else {
            document.addEventListener("DOMContentLoaded", fn);
        }
    }

    docReady(function () {
        var resultContainer = document.getElementById('qr-reader-results');
        var lastResult, countResults = 0;
        function onScanSuccess(decodedText, decodedResult) {
            if (decodedText !== lastResult) {
                ++countResults;
                lastResult = decodedText;
                // Handle on success condition with the decoded message.
                console.log(`Scan result ${decodedText}`, decodedResult);
            }
            $.ajax({
                type: 'POST',
                url: '/administrar/',  // Reemplaza esto con la URL de tu vista de Django
                data: {
                    'lectura': decodedText,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (response) {
                    console.log(l)
                },
                error: function (xhr, status, error) {
                    // Lógica para manejar el error
                    console.error('Error:', error);
                }
            });
        }

        var html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess);
    });
</script>



</html>