* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(255, 0, 0, 0.97);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    /* Ajuste */
    left: 0;
    grid-template-columns: 1fr auto;
    display: grid;
    justify-content: right;
}

.footer {
    background-color: rgba(255, 0, 0, 0.97);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    grid-template-columns: 1fr auto;
    display: grid;
    justify-content: right;
}


body {
    overflow: hidden;
    background: rgba(255, 0, 0, 0.925);
    background-size: 10000%;
    animation: gradient 15s ease infinite;
    margin: 0;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -60px;
    margin-bottom: 120px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.contentTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icono {
    width: 20px;
    height: auto;
    margin-left: -60px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: left;
}

.contentOptions {
    margin-left: 20%;
    margin-right: 20%;
}

.titleLabel {
    padding-top: 150px;
    text-align: center;
    align-items: center;
}

.defaultLabel {
    margin-top: 20px;
    margin-right: 10px;
}

.smallLabel {
    margin-top: 20px;
    margin-right: 10px;
}

.pinLabel {
    margin-top: 20px;
    margin-right: 10px;
}

.textInput {
    width: 200px;
}

.horizontal-line2,
.horizontal-line {
    border-top: 1px solid black;
    width: 100%;
    /* Adjust the width as needed */
}

.container {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.containerSingleItem {
    margin-left: 5px;
    display: flex;
    align-items: start;
    width: 100px;
}

.container3Items {
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.containerMonto {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}


.containerVertical {
    margin-top: 10px;
    align-items: end;
    align-self: self-end;
    display: grid;
    align-content: end;
}

.containerEntradas {
    display: flex;
    align-items: center;
}

.containerTickets {
    display: flex;

}

.container5ItemsVertical {
    align-items: start;

    display: grid;
}

.container5Items {
    margin-top: 10%;
    display: flex;
}

.container5ItemsSingle1 {
    align-content: start;
    margin-right: 5px;
    width: 120px;
}

.container5ItemsSingle2 {
    align-content: start;
    margin-right: 5px;
    width: 10px;
}

.container5ItemsSingle3 {
    align-content: start;
    margin-right: 5px;
    width: 40px;
}

.container5ItemsSingle4 {
    align-content: start;
    margin-right: 5px;
    width: 10px;
    display: flex;
    flex-direction: column;
}

.container5ItemsSingle5 {
    align-content: start;
    margin-right: 5px;
    width: 120px;
    float: right;
}

.container5ItemsSingle6 {
    align-content: start;
    margin-right: 5px;
    width: 120px;
    float: right;
    font-size: 12px;
    color: #ff0000;
}

label {
    flex: 1;
    margin-right: 10px;
    text-align: left;
}

input {
    flex: 1;
    width: 200px;
    text-align: right;
}


@media (max-width: 1200px) {
    body {
        overflow: auto;
        background: rgba(255, 255, 255, 0.2);
        background-size: 10000%;
        animation: gradient 15s ease infinite;
        margin: 0;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -60px;
        margin-bottom: 120px;
        font-size: 20px;
        font-family: 'Noto Sans JP', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    body {
        overflow: auto;
        background: rgba(255, 255, 255, 0.2);
        background-size: 10000%;
        animation: gradient 15s ease infinite;
        margin: 0;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: -60px;
        margin-bottom: 120px;
        font-size: 20px;
        font-family: 'Noto Sans JP', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
}