<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuentrada Pe</title>
    <link rel="stylesheet" href="{% static 'descargarQRPage/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <form id="comprarForm" action="{% url 'descargarQRPage' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="header">
            <img src="{% static 'imagenes/headerlogo.png' %}" style="height: 30px; margin-left: 5%; align-self: center;"
                onclick="window.location.href = '/'" />
        </div>

        <div class="containerTodo">
            <div class="containerTitulo">Descarga tu entrada</div>
            <div class="containerInput">
                <p># Ticket</p>
                <input name="ticket" placeholder="Numero de ticket" maxlength="12" minlength="12" pattern="\d{6}-\d{5}"
                    title="123456-12345" required>
            </div>
            <!-- <div class="containerInput">
                <p>Codigo de seguridad</p>
                <input name="seguridad" placeholder="Codigo de seguridad">
            </div> -->
            <div class="containerInput">
                <p>Codigo de descarga</p>
                <input name="descarga" placeholder="Codigo de descarga" maxlength="8" minlength="8" id="descarga"
                    required>
            </div>

            <div class="containerInput">
                <p>PIN</p>
                <input name="pin" placeholder="PIN" maxlength="10" id="pin" inputmode="numeric">
            </div>
            <div class="containerBoton">
                <button type="submit" onclic>DESCARGAR</button>

            </div>

            <div class="containerRespuesta">{{estado}}</div>
        </div>

        <div class="footer">
            <img src="{% static 'imagenes/footerlogo.png' %}" height="30px"
                style="display: flex; justify-self: center;  align-self: center;"
                onclick="javascript:location.reload(true)" />
        </div>
    </form>

</body>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"> </script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script defer src="{% static 'descargarQRPage/script.js' %}"></script>

</html>
