<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuentrada Pe</title>
    <!--Custom CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'resumenPage/styles.css' %}">
</head>

<body id="bodyTodo">
    <form id="comprarForm" action="{% url 'comprarPage' %}" method="post">
        {% csrf_token %}
        <div class="header">
            <div class="imagenHeader"><img src="{% static 'comprarPage/logo.png' %}" height="40px"
                    onclick="javascript:location.reload(true)"></img></div>
        </div>
        <div class="resumenCompraBanner" id="resumenCompraBanner">
            <p>RESUMEN DE COMPRA</p>
        </div>
        <img class="imagenEnCelular" src="{% static 'resumenPage/banner.jpg' %}" />
        <div class="containerTodo" id="containerTodo">
            <div class="columnaEntradas"><img class="imagenesBanner" src="{% static 'resumenPage/banner.jpg' %}"
                    width="100%"></img>
                <div class="containerInformacionEvento">
                    <h3 class="tituloEvento">GRUPO 5 EN IQUITOS</h3>
                    <i class="fas fa-map-marked-alt"> Centro de
                        convenciones del Pardo</i>
                    <div class="blankspace"></div>
                    <i class="fas fa-calendar-alt"> Domingo 25 de Junio
                        2023</i>
                    <div class="blankspace"></div>
                    <i class="fas fa-clock"> Inicio 3:00 PM</i>
                    <div class="blankspace"></div>
                    <div class="linea-horizontal"></div>
                    <h3 class="entradasTitulo">ENTRADAS</h3>
                    <div class="entradasInfo">
                        {% for key, value in entradas.items %}
                        <div id="{{key}}"
                            style="margin-top:-20px; display: grid; justify-content: center; align-items: center; grid-template-columns: 1fr 8fr 1fr;">
                            <i class="fas fa-circle" style="font-size: 10px;"></i>
                            <p id="Nombre{{key}}" style="margin-right: 10px;"><b>{{ value.id }}</b></p>
                            <p>× {{ value.cantidad }}</p>
                            <input hidden id="ID{{key}}" name="ID{{key}}" value="ID{{value.id}}">
                            <input hidden id="cantidad{{key}}" name="cantidad{{key}}" value="{{value.cantidad}}">
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="dummy"></div>
            <div class="columnaPago">
                <div class="tituloColumnaPago">INFORMACION DE PAGO</div>
                <div class="containerEmpresa">Empresa: Iquitos PRODUCCIONES</div>
                <div class="containerCIPMonto">
                    <div class="containerCIP">
                        <p>Con este codigo <b style="padding-left: 5px; padding-right: 5px;"><u>CIP</u> </b> page su
                            entrada</p>
                        <div class="cuadroCIP"><i class="far fa-copy" id="copiarCIP"
                                onclick="copiarAlPortapapeles('{{response.cip}}')"></i>
                            {{response.cip}}</div>
                        <input hidden id="cip" name="cip" value="{{response.cip}}">
                    </div>
                    <div class="containerMonto">
                        <p>Monto a pagar</p>
                        <div style="justify-content: center; display: flex; margin-top: -25px;font-size: 25px;">S/.
                            {{precioTotal}}.
                        </div>
                        <input hidden id="montoaPagar" name="montoaPagar" value="{{precioTotal}}">
                    </div>

                </div>
                <div class="containerPagarCon">
                    <div class="pagarConColumna1">
                        <div><b>Pagar con:</b></div>
                        <div style="justify-content: center; display: flex;margin-top: 10px; height: auto;"><img
                                class="qrimage" src="{% static 'resumenPage/qr.png' %}" width="150px"></img></div>
                    </div>
                    <div class="pagarConColumna2">

                        <div
                            style="justify-content: center; display: flex; align-items: center; margin-top: 20px; width: 100%;">
                            <img style="border-radius: 10px;" src="{% static 'comprarPage/yapeicon.png' %}"
                                width="50px"></img>
                            <div style="min-width: 10%;"></div>
                            <img style="border-radius: 10px;" src="{% static 'comprarPage/plinicon.png' %}"
                                width="50px"></img>
                        </div>
                        <div
                            style="justify-content: center; display: grid; align-items: end; margin-top: 20px; width: 100%">
                            <div
                                style="width: 100%; height: 40px; align-items: center; border-radius: 10px; background-color: red; justify-content: end; display: flex; font-size: 24px; padding-right: 10px;">
                                <i class="far fa-copy copy-icon" style="padding-right: 5px;"
                                    onclick="copiarAlPortapapeles('965605750')"></i>
                                965 605 750
                            </div>
                        </div>

                    </div>
                </div>
                <div class="mensajes">
                    <div>
                        <p style="font-size: 14px; margin-top: -5px;"><b>1.</b> Ingresa a Yape o Plin.</p>
                    </div>
                    <div>
                        <p style="font-size: 14px;margin-top: -5px;"><b>2.</b> Coloca el número 965 605 750.</p>
                    </div>
                    <div>
                        <p style="font-size: 14px;margin-top: -5px;"><b>3.</b> Ingresa el monto a pagar</p>
                    </div>
                    <div>
                        <p style="font-size: 14px;margin-top: -5px;"><b>4.</b> <b>MUY IMPORTANTE</b>, agregar mensaje
                            indicando el codigo
                            CIP de
                            pago.
                        </p>
                    </div>
                </div>

                <div class="pagarConColumna1" style="margin-bottom: -170px;margin-top: 20px;"><b>Pagar con:</b></div>
                <div class="containerCuentasBCP">
                    <div class="containerCuentas">
                        <div class="containerCuenta1">
                            <p style="padding-left: 10px;">CC BCP: 390-9840366-0-27</p>
                            <i class="far fa-copy copy-icon" style="padding-left: 10px;"
                                onclick="copiarAlPortapapeles('3909840366027')"></i>
                        </div>
                        <div class="containerCuenta2">
                            <p style="margin-left: 10px;">CCI: 002-39000984036602731</p>
                            <i class="far fa-copy copy-icon" style="padding-left: 10px;"
                                onclick="copiarAlPortapapeles('00239000984036602731')"></i>
                        </div>
                    </div>
                    <div class="containerBCP"><img style="border-radius: 10px;"
                            src="{% static 'comprarPage/bcpicon.png' %}" width="50px"></img></div>
                </div>
                <div style="margin-top: 20px;">
                    <div>
                        <p style="font-size: 14px; margin-top: -5px;"><b>1.</b> Ingresa a la app de tu banco.</p>
                    </div>
                    <div>
                        <p style="font-size: 14px;margin-top: -5px;"><b>2.</b> Coloca el numero de cuenta corriente o
                            interbancaria.</p>
                    </div>
                    <div>
                        <p style="font-size: 14px;margin-top: -5px;"><b>3.</b> Ingresa el monto a pagar</p>
                    </div>
                    <div>
                        <p style="font-size: 14px;margin-top: -5px;"><b>4.</b> <b>MUY IMPORTANTE</b>, agregar mensaje
                            indicando el codigo
                            CIP de
                            pago.
                        </p>
                    </div>

                </div>
                <div class="containerConfirmarCancelar">
                    <div class="ConfirmarBoton" onclick="confirmar()">CONFIRMAR</div>
                    <div class="CancelarBoton" onclick="cancelar()">CANCELAR</div>
                    <input hidden id="boton" name="boton" value="">
                </div>
            </div>

            <div class="containerInformacionEventoCelular">
                <h3 class="tituloEvento">GRUPO 5 EN IQUITOS</h3>
                <i class="fas fa-map-marked-alt" style="padding-left: 10px; margin-top: -15px;"> Centro de
                    convenciones del Pardo</i>
                <div class="blankspace"></div>
                <i class="fas fa-calendar-alt" style="padding-left: 10px; margin-top: -15px;"> Domingo 25 de Junio
                    2023</i>
                <div class="blankspace"></div>
                <i class="fas fa-clock" style="padding-left: 10px; margin-top: -15px;"> Inicio 3:00 PM</i>
                <div class="blankspace"></div>
                <div class="linea-horizontal"></div>
                <h3 class="entradasTitulo">ENTRADAS</h3>
                {% for key, value in entradas.items %}
                <div id="{{key}}" style="display: grid; justify-content: center; align-items: center; grid-template-columns: 1fr 8fr
                    1fr;">
                    <i class="fas fa-circle"></i>
                    <p id="Nombre{{key}}"><b>{{ value.id }}</b></p>
                    <p>× {{ value.cantidad }}</p>
                    <input hidden id="ID{{key}}" name="ID{{key}}" value="ID{{value.id}}">
                    <input hidden id="cantidad{{key}}" name="cantidad{{key}}" value="{{value.cantidad}}">
                </div>
                {% endfor %}
            </div>

        </div>

        <input hidden id="celular" name="celular" value="{{response.celular}}">
        <input hidden id="codigo" name="codigo" value="{{response.codigo}}">
        <input hidden id="pin" name="pin" value="{{response.pin}}">
        <input hidden id="nombre" name="nombre" value="{{response.nombre}}">
        <input hidden id="dni" name="dni" value="{{response.dni}}">
        <input hidden id="correo" name="correo" value="{{response.correo}}">
        <input hidden id="respuesta1" name="respuesta1" value="{{response.respuesta1}}">
        <input hidden id="respuesta2" name="respuesta2," value="{{response.respuesta2}}">
        <input hidden id="box1" name="box1" value="{{response.box1}}">
        <input hidden id="box2" name="box2" value="{{response.box2}}">
        <input hidden id="box3" name="box3" value="{{response.box3}}">
        {% for key, value in entradas.items %}
        <input hidden id="cantidad{{key}}" name="cantidad{{key}}" value="{{value.cantidad}}">
        <input hidden id="tipo{{key}}" name="tipo{{key}}" value="{{value.tipo}}">
        {% endfor %}
        <div class="footer">
            <div class="imagenHeader"><img src="{% static 'comprarPage/footerlogo.png' %}" height="40px"></img>
            </div>
        </div>

        <!-- Scripts -->
        <script src="https://unpkg.com/scrollreveal"></script>
        <script>
            var comprarPageUrl = "{% url 'comprarPage' %}";
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="{% static 'resumenPage/script.js' %}"></script>
    </form>

</body>

</html>