<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuentrada Pe</title>
    <!--Custom CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="{% static 'resumenPage/styles.css' %}">
</head>

<body>
    <form id="comprarForm" action="{% url 'comprarPage' %}" method="post">
        {% csrf_token %}
        <div class="header">
            <div class="imagenHeader"><img src="{% static 'comprarPage/logo.png' %}" height="40px"></img></div>
        </div>
        <div class="resumenCompraBanner" id="resumenCompraBanner">
            <p>RESUMEN DE COMPRA</p>
        </div>
        <div class="containerTodo" id="containerTodo">
            <div class="columnaEntradas"><img src="{% static 'resumenPage/banner.png' %}" width="400px"></img>
                <div class="containerInformacionEvento">
                    <h3 style="margin-bottom: 5px;">GRUPO 5 EN IQUITOS</h3>
                    <i class="fas fa-map-marked-alt" style="padding-left: 10px; margin-top: -15px;"> Centro de
                        convenciones del Pardo</i>
                    <div class="blankspace"></div>
                    <i class="fas fa-calendar-alt" style="padding-left: 10px; margin-top: -15px;"> Domingo 25 de Junio
                        2023</i>
                    <div class="blankspace"></div>
                    <i class="fas fa-clock" style="padding-left: 10px; margin-top: -15px;"> Inicio 3:00 PM</i>
                    <div class="blankspace"></div>
                    <div class="linea-horizontal"></div>
                    <h3>ENTRADAS</h3>
                    {% for key, value in entradas.items %}
                    <div id="{{key}}"
                        style="display: grid; justify-content: center; align-items: center; grid-template-columns: 1fr 8fr 1fr;">
                        <i class="fas fa-circle"></i>
                        <p id="Nombre{{key}}"><b>{{ value.id }}</b></p>
                        <p>× {{ value.cantidad }}</p>
                        <input hidden id="ID{{key}}" name="ID{{key}}" value="ID{{value.id}}">
                        <input hidden id="cantidad{{key}}" name="cantidad{{key}}" value="{{value.cantidad}}">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="columnaBlanco">

            </div>
            <div class="columnaPago">
                <div class="tituloColumnaPago">INFORMACION DE PAGO</div>
                <div class="containerEmpresa">Empresa: Iquitos PRODUCCIONES</div>
                <div class="containerCIPMonto">
                    <div class="containerCIP">
                        <p>Con este codigo <b style="padding-left: 5px; padding-right: 5px;"><u>CIP</u> </b> page su
                            entrada</p>
                        <div style="justify-content: center; display: flex; margin-top: -25px;font-size: 25px;"><i
                                class="far fa-copy"></i> {{response.cip}}</div>
                        <input hidden id="cip" name="cip" value="{{response.cip}}">
                    </div>
                    <div class="containerMonto">
                        <p>Monto a pagar</p>
                        <div style="justify-content: center; display: flex; margin-top: -25px;font-size: 25px;">S/.
                            {{precioTotal}}.
                        </div>
                        <input hidden id="montoaPagar" name="montoaPagar" value="{{precioTotal}}">
                    </div>

                </div>
                <div class="containerPagarCon">
                    <div class="pagarConColumna1">
                        <div><b>Pagar con:</b></div>
                        <div style="justify-content: center; display: flex;margin-top: 10px;"><img
                                src="{% static 'resumenPage/qr.png' %}" width="150px"></img></div>
                    </div>
                    <div class="pagarConColumna2">

                        <div
                            style="justify-content: center; display: flex; align-items: center; margin-top: 20px; width: 225;">
                            <img style="border-radius: 10px;" src="{% static 'comprarPage/yapeicon.png' %}"
                                width="80px"></img>
                            <div style="min-width: 20px;"></div>
                            <img style="border-radius: 10px;" src="{% static 'comprarPage/plinicon.png' %}"
                                width="80px"></img>
                        </div>
                        <div
                            style="justify-content: center; display: grid; align-items: end; margin-top: 20px; width: 225px;">
                            <div
                                style="margin: 20px; width: 200px; height: 40px; align-items: center; border-radius: 10px; background-color: red; justify-content: end; display: flex; font-size: 24px; padding-right: 10px;">
                                <i class="far fa-copy" style="padding-right: 8px;"></i>
                                965 605 750
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <div>
                        <p style="font-size: 14px; margin-top: -5px;"><b>1.</b> Ingresa a Yape o Plin.</p>
                    </div>
                    <div>
                        <p style="font-size: 14px;margin-top: -5px;"><b>2.</b> Coloca el número 965 605 750.</p>
                    </div>
                    <div>
                        <p style="font-size: 14px;margin-top: -5px;"><b>3.</b> Ingresa el monto a pagar</p>
                    </div>
                    <div>
                        <p style="font-size: 14px;margin-top: -5px;"><b>4.</b> <b>MUY IMPORTANTE</b>, agregar mensaje
                            indicando el codigo
                            CIP de
                            pago.
                        </p>
                    </div>
                </div>

                <div class="pagarConColumna1"><b>Pagar con:</b></div>
                <div class="containerCuentasBCP">
                    <div class="containerCuentas">
                        <div class="containerCuenta1">
                            <p style="padding-left: 10px;">CC BCP: 390-9840366-0-27</p>
                            <i class="far fa-copy" style="padding-left: 10px;"></i>
                        </div>
                        <div class="containerCuenta2">
                            <p style="margin-left: 10px;">CC Interbancaria: 002-39000984036602731</p>
                            <i class="far fa-copy" style="padding-left: 10px;"></i>
                        </div>
                    </div>
                    <div class="containerBCP"><img style="border-radius: 10px;"
                            src="{% static 'comprarPage/bcpicon.png' %}" width="50px"></img></div>
                </div>
                <div style="margin-top: 20px;">
                    <div>
                        <p style="font-size: 14px; margin-top: -5px;"><b>1.</b> Ingresa a la app de tu banco.</p>
                    </div>
                    <div>
                        <p style="font-size: 14px;margin-top: -5px;"><b>2.</b> Coloca el numero de cuenta corriente o
                            interbancaria.</p>
                    </div>
                    <div>
                        <p style="font-size: 14px;margin-top: -5px;"><b>3.</b> Ingresa el monto a pagar</p>
                    </div>
                    <div>
                        <p style="font-size: 14px;margin-top: -5px;"><b>4.</b> <b>MUY IMPORTANTE</b>, agregar mensaje
                            indicando el codigo
                            CIP de
                            pago.
                        </p>
                    </div>

                </div>
                <div class="containerConfirmarCancelar">
                    <div class="ConfirmarBoton" onclick="confirmar()">CONFIRMAR</div>
                    <div class="CancelarBoton" onclick="cancelar()">CANCELAR</div>
                    <input hidden id="boton" name="boton" value="">
                </div>
            </div>

        </div>

        <input hidden id="celular" name="celular" value="{{response.celular}}">
        <input hidden id="codigo" name="codigo" value="{{response.codigo}}">
        <input hidden id="pin" name="pin" value="{{response.pin}}">
        <input hidden id="nombre" name="nombre" value="{{response.nombre}}">
        <input hidden id="dni" name="dni" value="{{response.dni}}">
        <input hidden id="correo" name="correo" value="{{response.correo}}">
        <input hidden id="respuesta1" name="respuesta1" value="{{response.respuesta1}}">
        <input hidden id="respuesta2" name="respuesta2," value="{{response.respuesta2}}">
        {% for key, value in entradas.items %}
        <input hidden id="cantidad{{key}}" name="cantidad{{key}}" value="{{value.cantidad}}">
        <input hidden id="tipo{{key}}" name="tipo{{key}}" value="{{value.tipo}}">
        {% endfor %}
        <div class="footer">
            <div class="imagenHeader"><img src="{% static 'comprarPage/footerlogo.png' %}" height="40px"></img>
            </div>
        </div>

        <!-- Scripts -->
        <script src="https://unpkg.com/scrollreveal"></script>
        <script>
            var comprarPageUrl = "{% url 'comprarPage' %}";
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="{% static 'resumenPage/script.js' %}"></script>
    </form>

</body>

</html>