:root {
    --red: #FF0043;
    --white: #ffffff;
    --verde: #07A781;
    --morado: #7643F6;
    --negro: #000000;
    --gris: #858484;
    --yelow: #d9e806;
    --azul: #01A0E2;
    --rosado: #EC1074;
    --naraja: #F9970E;
}


.header {
    background: linear-gradient(to right, var(--red), var(--negro));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 9999;
}

.footer {
    background: linear-gradient(to right, var(--red), var(--negro));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 45px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    grid-template-columns: 1fr;
    display: grid;
    justify-content: right;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.925);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

.banner {
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.resumenCompraBanner {
    margin-top: 45px;
    padding: 0;
    height: 60px;
    width: 100%;
    background-color: #7643F6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;

}

.containerTodo {
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 20px 700px;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.columnaEntradas {
    background-color: #f1f1f1;
    min-height: 820px;
    width: 100%;
}

.columnaBlanco {
    background-color: #ffffff;
    min-height: 800px;
    width: 100%;
}

.columnaPago {
    background-color: #ffffff;
    border-color: #FF0043;
    border-width: 2px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 780px;
    width: 100%;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-content: start;
}

.containerInformacionEvento {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    margin: 20px;

}

.containerInformacionEvento i {
    padding-left: 10px;
    margin-top: -15px;
}

.linea-horizontal {
    height: 1px;
    background-color: black;
    margin: 10px 0;
}

.containerInformacionEvento h3 {
    justify-content: center;
    display: flex;
}

.tituloColumnaPago {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    margin-top: 20px;
}

.containerEmpresa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 450px;
    height: 30px;
    background-color: #f5f4f4;
}

.containerCIPMonto {
    display: grid;
    justify-content: center;
    align-items: start;
    width: 450px;
    height: 60px;
    background-color: #5c5555;
    grid-template-columns: 1fr 1fr;
}

.containerMonto,
.containerCIP {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 225px;
    padding-top: 10px;
    background-color: #FF0043;
    color: white;

}

.containerMonto {
    background-color: #7643F6;
}

.containerMonto p,
.containerCIP p {
    font-size: 10px;
    justify-content: center;
    display: flex;
    margin-top: -5px;
}

.containerCIP i {
    font-size: 20px;
    padding-right: 10px;
    margin-top: 5px;
}

.containerCIP i:hover {
    cursor: pointer;
    opacity: 0.8;
}

.containerPagarCon {
    margin-top: 10px;
    display: grid;
    justify-content: center;
    align-items: start;
    width: 450px;
    height: 200px;
    background-color: #ffffff;
    grid-template-columns: 1fr 1fr;
}

.pagarConColumna1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 225px;
    color: rgb(0, 0, 0);
    grid-template-rows: 50px 400px;
}

.pagarConColumna2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    width: 225px;
    color: white;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}


.containerCuentasBCP {
    margin-top: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 5fr 1fr;
    height: 100px;
}

.containerCuentas {
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
}

.containerBCP {
    display: grid;
    align-items: center;
    justify-content: center;
}

.copy-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.containerCuenta2,
.containerCuenta1 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: #FF0043;
    height: 35px;
    border-radius: 10px;
    font-size: 15px;
    width: 290px;
}

.containerCuenta1 {
    width: 270px;
}

.containerConfirmarCancelar {
    grid-template-columns: 1fr 1fr;
    height: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.ConfirmarBoton {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FF0043;
    height: 50px;
    width: 150px;
    border-radius: 15px;
}

.ConfirmarBoton:hover {
    opacity: 0.8;
    cursor: pointer;
}

.CancelarBoton {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FF0043;
    height: 50px;
    width: 150px;
    border-radius: 15px;
}

.CancelarBoton:hover {
    opacity: 0.8;
    cursor: pointer;
}

.blankspace {
    margin-top: 10px;
}

.blankspace2 {
    margin-top: 200px;
}

.imagenEnCelular {
    display: none;
    visibility: none;
}

.containerInformacionEventoCelular {
    display: none;
    visibility: hidden;
}

.cuadroCIP {
    justify-content: center;
    display: flex;
    margin-top: -20px;
    font-size: 25px;
}

@media (pointer: coarse) or (max-width: 700px) {





    .containerTodo {
        display: none;
        visibility: hidden;
    }

    .columnaEntradas {
        display: none;
        visibility: hidden;
    }

    .columnaBlanco {
        display: none;
        visibility: hidden;
    }



    .containerInformacionEvento {
        display: none;
        visibility: hidden;

    }

    .linea-horizontal {
        display: none;
        visibility: hidden;
    }

    .containerInformacionEvento h3 {
        display: none;
        visibility: hidden;
    }

    .tituloColumnaPago {
        display: none;
        visibility: hidden;
    }

    .containerEmpresa {
        display: none;
        visibility: hidden;
    }

    .containerCIPMonto {
        display: none;
        visibility: hidden;
    }

    .containerMonto,
    .containerCIP {
        display: none;
        visibility: hidden;

    }

    .containerMonto {
        display: none;
        visibility: hidden;
        ;
    }

    .containerMonto p,
    .containerCIP p {
        display: none;
        visibility: hidden;
    }

    .containerCIP i {
        display: none;
        visibility: hidden;
    }

    .containerCIP i:hover {
        display: none;
        visibility: hidden;
    }

    .containerPagarCon {
        display: none;
        visibility: hidden;
        ;
    }

    .pagarConColumna1 {
        display: none;
        visibility: hidden;
    }

    .pagarConColumna2 {
        display: none;
        visibility: hidden;
    }


    .containerCuentasBCP {
        display: none;
        visibility: hidden;
    }

    .containerCuentas {
        display: none;
        visibility: hidden;
        ;
    }

    .containerBCP {
        display: none;
        visibility: hidden;
    }

    .containerCuenta2,
    .containerCuenta1 {
        display: none;
        visibility: hidden;
    }

    .containerCuenta1 {
        display: none;
        visibility: hidden;
    }

    .containerConfirmarCancelar {
        display: none;
        visibility: hidden;
        ;
    }



    .blankspace {
        margin-top: 10px;
    }

    .blankspace2 {
        margin-top: 200px;
    }

    .imagenEnCelular {
        display: none;
        visibility: none;
    }

    .containerInformacionEventoCelular {
        display: none;
        visibility: hidden;
    }

    .imagenEnCelular {
        display: flex;
        visibility: visible;
        width: 100%;
    }

    .resumenCompraBanner {
        margin-top: 45px;
        padding: 0;
        height: 50px;
        width: 100%;
        background-color: #7643F6;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;

    }

    .imagenBanner {
        width: 100%;
    }

    .containerTodo {
        display: grid;
        justify-content: center;
        margin-left: -10%;
        grid-template-columns: 80%;
        grid-template-rows: 450px auto auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

    }

    .columnaPago {
        padding-left: 5%;
        padding-right: 5%;
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .tituloColumnaPago {
        font-family: 'Poppins', sans-serif;
        color: black;
        font-size: 20px;
        display: flex;
        visibility: visible;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    .containerEmpresa {
        display: flex;
        visibility: visible;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }

    .containerCIPMonto {
        display: flex;
        visibility: visible;
        width: 100%;
    }

    .containerCIP,
    .containerMonto {
        display: grid;
        visibility: visible;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: white
    }

    .containerCIP p {
        padding-left: 5%;
        display: inline;
        visibility: visible;
        justify-content: center;
        justify-self: center;
    }

    .containerMonto p {
        padding-left: 5%;
        display: flex;
        width: 100%;
        visibility: visible;
        justify-content: center;
        justify-self: center;
    }

    .containerCIP div {
        display: flex;
        visibility: visible;
        justify-content: center;

    }

    .containerMonto p {
        padding-left: 5%;
        display: inline;
        visibility: visible;
        justify-content: center;
        justify-self: center;
    }

    .containerMonto div {
        display: flex;
        visibility: visible;
        justify-content: center;

    }

    .columnaEntradas {
        visibility: hidden;
        display: none;
    }

    .dummy {
        visibility: hidden;
        display: none;
    }

    .containerPagarCon {
        display: grid;
        visibility: visible;
        grid-template-columns: 50% 50%;
        width: 100%;
    }

    .pagarConColumna1 {
        width: 100%;
        display: grid;
        visibility: visible;
        height: 200px;
    }

    .qrimage {
        margin-top: -25px;
        height: 150px;
        width: 150px;
    }

    .pagarConColumna2 {
        height: 200px;
        width: 100%;
        display: grid;
        visibility: visible;
    }

    .containerCuentasBCP {
        margin: 0;
        visibility: visible;
        grid-template-columns: 100%;
        display: grid;
    }

    .containerCuentas {
        display: grid;

        visibility: visible;
    }

    .containerCuenta1 {
        display: flex;
        width: 100%;
        visibility: visible;
    }

    .containerCuenta2 {
        display: flex;
        width: 100%;
        visibility: visible;

    }

    .containerCuenta2 i {
        padding-right: 8px;
    }

    .containerConfirmarCancelar {
        visibility: visible;
        display: flex;
        align-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .ConfirmarBoton {
        visibility: visible;
        display: flex;
        margin-right: 5%;
        width: 40%;
    }

    .CancelarBoton {
        visibility: hidden;
        display: none;
        width: 40%;
        margin-left: 5%;
    }

    .ConfirmarBoton:hover,
    .CancelarBoton:hover {
        opacity: 1;
    }

    .ConfirmarBoton:tap {
        opacity: 0.8;
    }

    .columnaEntradas {
        display: grid;
        visibility: visible;
        width: 112%;
    }

    .columnaEntradas img {
        display: none;
        visibility: hidden;
    }

    .containerInformacionEvento {
        display: grid;
        visibility: visible;
        align-items: start;
        height: 30px;
    }

    .containerInformacionEvento h3 {

        display: grid;
        visibility: visible;
        margin-bottom: 0;
    }

    .containerInformacionEvento i {

        display: flex;
        visibility: visible;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .blankspace {
        visibility: hidden;
        display: none;
    }

    .entradasTitulo {
        margin-bottom: 10px;
    }

    .entradasInfo {
        font-size: 18px;
        align-items: center;
        margin-bottom: 10px;
    }

    .entradasInfo div i {
        display: flex;
        visibility: visible;
        font-size: 12px;
    }
}