<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuentrada Pe</title>
    <link rel="stylesheet" href="{% static  'homePage/styles.css' %}"> 
</head>

<body>
    <div class="bg-img">
        <div class="content">
            <div class="texto_cabecera">
                Grupo 5 en Iquitos
            </div>
            <div class="field">
                <a class='btn' href="{% url 'comprarPage' %}"> Comprar Tickets</a>
            </div>
            <div class="field">
                <a class='btn' href="{% url 'administrarPage' %}"> Administrar Tickets</a>
            </div>
        </div>
    </div>
</body>

</html>
