{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Entrada</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .qr-container {
            border: 2px solid black;
            padding: 10px;
            margin: 10px;
        }

        .mensaje {
            background-color: purple;
            color: white;
            padding: 10px;
            margin-top: 20px;
            text-align: center;
        }
    </style>
    <style>
        .pie-pagina {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    </style>
    <style>
        .linea-separacion {
            border: none;
            border-top: 1px solid gray;
            margin: 10px 0;
        }
        .message-text {
        font-size: 2.5rem; /* Ajusta el valor según tus necesidades */
        font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid" src="{% static 'entradas/tuentrada.png' %}" alt="Cabecera">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h1 class="display-4">Entrada Nro: <strong>{{ ID_Ticket }}</strong></h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 text-center qr-container">
                <img src="{{ qr_image }}" alt="Código QR" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-12 mensaje">
                <p class="message-text">* Los códigos QR se activarán 24 horas antes</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-center">
                <h1><strong>Cliente: </strong> {{ nombre_y_apellido }}</h1>
            </div>
        </div>
        
        <hr class="linea-separacion">

        <div class="row mt-2">
            <div class="col-4 text-left">
                <h3 class="font-weight-bold d-inline"><strong>DNI: </strong></h3>
                <span class="d-inline" style="font-size: 30px;">{{ dni }}</span>
            </div>
            <div class="col-4 text-center">
                <h3 class="font-weight-bold d-inline"><strong>TELÉFONO: </strong></h3>
                <span class="d-inline" style="font-size: 30px;">{{ telefono }}</span>
            </div>
            <div class="col-4 text-right">
                <h3 class="font-weight-bold d-inline"><strong>WHATSAPP: </strong></h3>
                <span class="d-inline" style="font-size: 30px;">{{ whatsapp }}</span>
            </div>
        </div>
        
        <hr class="linea-separacion">
        
        <div class="row mt-4">
            <div class="col-12 text-left">
                <h3 class="font-weight-bold d-inline"><strong>LUGAR: </strong></h3>
                <span class="d-inline" style="font-size: 30px;">{{ Lugar }}</span>
            </div>
        </div>
        <hr class="linea-separacion">
        <div class="row">
            <div class="col-12 text-left">
                <h3 class="font-weight-bold d-inline"><strong>UBICACIÓN: </strong></h3>
                <span class="d-inline" style="font-size: 30px;">{{ Ubicacion }}</span>
            </div>
        </div>

        <hr class="linea-separacion">

        <div class="row">
            <div class="col-12 text-left">
                <h3  class="font-weight-bold d-inline"><strong>FECHA: </strong></h3>
                <span class="d-inline" style="font-size: 30px;">{{ fecha }}</span>
            </div>
        </div>

        <hr class="linea-separacion">

        <div class="row">
            <div class="col-12 text-left">
                <h3 class="font-weight-bold d-inline"><strong>HORA: </strong></h3>
                <span class="d-inline" style="font-size: 30px;">{{ hora }}</span>
            </div>
        </div>
        
        <hr class="linea-separacion">

        <div class="row mt-4">
            <div class="col-12 text-center">
                <h3 class="font-weight-bold d-inline"><strong>ZONA: </strong></h3>
                <span class="d-inline" style="font-size: 30px;">{{ Zona }}</span>
            </div>
        </div>
        
        
        <hr class="my-4">

        <div class="row mt-4">
            <div class="col-12">
                <h3 class="font-weight-bold"><strong>Recuerda:</strong></h3>
                <p style="font-size: 30px; text-align: justify;">Llega unas horas antes del evento para ubicar correctamente tu zona. ¡Sin colas! Dirígete directamente a la puerta de entrada de tu zona. Muestra tu QR directamente desde tu celular, no es necesario imprimir.</p>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-12">
                <h3 class="font-weight-bold"><strong>Ubicación del evento:</strong></h3>
                <p style="font-size: 30px; text-align: justify;">Si no encuentra la dirección del evento, puede dirigirse al enlace:</p>
                <p style="font-size: 18px; text-align: justify; color: red;"><a> https://www.google.com/maps/search/centro+conveciones+el+pardo/@-3.7508029,-73.2560195,18.6z?authuser=0&entry=ttu</a></p>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-12">
                <h3 class="font-weight-bold" style="color: purple;"><strong>Estimado Cliente:</strong></h3>
                <p style="font-size: 30px; text-align: justify;">Si tiene problemas con su entrada, escríbanos al WhatsApp 965 636 153, que lo ayudaremos inmediatamente.</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-center">
                <img src="{% static 'entradas/soloBordeInferior.png' %}" alt="Imagen fija" class="pie-pagina">
            </div>
        </div>
        <hr class="my-4">
    </div>
</body>
</html>
