:root {
    --red: #FF0043;
    --white: #ffffff;
    --verde: #07A781;
    --morado: #7643F6;
    --negro: #000000;
    --gris: #858484;
    --yelow: #d9e806;
    --azul: #01A0E2;
    --rosado: #EC1074;
    --naraja: #F9970E;
}


.header {
    background: linear-gradient(to right, var(--red), var(--negro));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 9999;
}

.footer {
    background: linear-gradient(to right, var(--red), var(--negro));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 45px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    grid-template-columns: 1fr;
    display: grid;
    justify-content: right;
}


body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.925);
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    justify-content: center;
}

.banner {
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.seleccionarFechaBanner {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    background-color: #7643F6;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;

}

.blankspace {
    margin-top: 30px;
}

.blankspace2 {
    margin-top: 200px;
}


.fechaBotonBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #FF0043;
    margin-top: 20px;
    left: 40%;
    height: 60px;
    width: 20%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.fechaBotonBanner:hover {
    opacity: 0.8;
    /* Cambio de opacidad al pasar el mouse */
}



.fechaBotonBanner p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    /* Ajusta el espacio entre la letra y los iconos */
}

.todoEntradas {
    margin-top: 100px;
    justify-content: center;
    display: grid;
    visibility: visible;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 150px 30px 50px 30px 150px 150px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . .";
}

.imagenIzquierda {
    float: left;
    margin-right: 10px;
    /* Opcional: ajusta el margen derecho según tus necesidades */
}

.entradaPorFilas {
    overflow: hidden;
    /* Para limpiar el float y evitar colapsos de altura */
}

.entradaFila1,
.entradaFila2,
.entradaFila3,
.entradaFila4,
.entradaFila5,
.entradaFila6,
.entradaFila7 {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    height: 60px;
    width: 700px;
    background-color: white;
    display: grid;
    grid-template-columns: 50px 280px 120px 40px 60px 40px 70px;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16 px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* Agrega la sombra aquí */
}

.entradaFila1 {
    color: yellow;
}

.entradaFila2 {
    color: lightseagreen;
}

.entradaFila3 {
    color: lawngreen;
}

.entradaFila4 {
    color: palevioletred;
}

.entradaFila5 {
    color: violet;
}

.entradaFila6 {
    color: orange;
}

.entradaFila7 {
    color: yellow;
}

.entradaColumna1 {
    margin-left: 25px;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.entradaColumna2 {
    font-size: 23px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}


.entradaColumna4,
.entradaColumna6 {
    color: gray;
    font-size: 25px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.entradaColumna4:hover,
.entradaColumna6:hover {
    color: darkmagenta;
    cursor: pointer;
}


.entradaColumna5 {
    color: black;
    font-size: 20px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.entradaColumna3 {
    color: black;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}


.entradaColumna7 {
    color: red;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.totalEntradasDiv {
    display: grid;
    grid-template-columns: 400px 50px 200px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.totalMontoDiv {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    height: 60px;
    width: 400px;
    background-color: white;
    display: grid;
    grid-template-columns: 200px 50px 100px;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16 px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.totalBotonDiv,
.comprarBotonFinal {
    margin-top: 30px;
    font-size: 25px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #FF0043;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    color: white;

}

.comprarBotonFinal:hover {
    opacity: 0.8;
    cursor: pointer;
}

/*.totalBotonDiv:hover {
    opacity: 0.8;
    cursor: pointer;
}*/


.datosCompradorTexto {
    margin-top: 30px;
    padding: 0;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    display: flex;
    visibility: visible;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 10px;
}

.notasAlFinal {
    display: none;
    margin-top: 30px;
    color: black;
    border-radius: 12px;
    align-items: center;
    margin-left: 10%;
    width: 80%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    background-color: #e6e6e6;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

.notasAlFinal p {
    margin-left: 5px;
    margin-right: 5px;
}

.todoObligatorio {
    margin-top: 10px;
    justify-content: center;
    display: none;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    background-color: white;
}


.contenedorCodigo {
    display: none;
    visibility: hidden;
}

.contenedorDNI,
.contenedorPin {
    display: grid;
    justify-content: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.contenedorPin input,
.contenedorCelular input,
.contenedorCodigo input,
.contenedorNombre input,
.contenedorDNI input,
.contenedorPregunta select,
.contenedorRespuesta input {
    padding: 10px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contenedorNombre input,
.contenedorRespuesta input {
    width: 300px;
}

.contenedorPregunta select {
    width: 320px;
}

.contenedorCelular button,
.contenedorCodigo button {
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contenedorCelular button:hover,
.contenedorCodigo button:hover {
    opacity: 0.8;
}

.contenedorPin button,
.contenedorNombre button,
.contenedorDNI button,
.contenedorPregunta button,
.contenedorRespuesta button {

    visibility: hidden;
}

.contenedorMedioPago {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    height: 60px;
    width: 600px;
    display: none;
    visibility: hidden;
    grid-template-columns: 120px 50px 120px 50px 120px 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16 px;
    border-radius: 10px;
}

.icono {
    width: 30px;
    height: auto;
}








.contentTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}



.content {
    display: flex;
    align-items: center;
    justify-content: left;
}

.contentOptions {
    margin-left: 20%;
    margin-right: 20%;
}

.titleLabel {
    padding-top: 150px;
    text-align: center;
    align-items: center;
}

.defaultLabel {
    margin-top: 20px;
    margin-right: 10px;
}

.smallLabel {
    margin-top: 20px;
    margin-right: 10px;
}

.pinLabel {
    margin-top: 20px;
    margin-right: 10px;
}

.textInput {
    width: 200px;
}

.horizontal-line2,
.horizontal-line {
    border-top: 1px solid black;
    width: 100%;
    /* Adjust the width as needed */
}

.container {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.containerSingleItem {
    margin-left: 5px;
    display: flex;
    align-items: start;
    width: 100px;
}

.container3Items {
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.containerMonto {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}


.containerVertical {
    margin-top: 10px;
    align-items: end;
    align-self: self-end;
    display: grid;
    align-content: end;
}

.containerEntradas {
    display: flex;
    align-items: center;
}

.containerTickets {
    display: flex;

}

.container5ItemsVertical {
    align-items: start;

    display: grid;
}

.container5Items {
    margin-top: 10%;
    display: flex;
}

.container5ItemsSingle1 {
    align-content: start;
    margin-right: 5px;
    width: 120px;
}

.container5ItemsSingle2 {
    align-content: start;
    margin-right: 5px;
    width: 10px;
}

.container5ItemsSingle3 {
    align-content: start;
    margin-right: 5px;
    width: 40px;
}

.container5ItemsSingle4 {
    align-content: start;
    margin-right: 5px;
    width: 10px;
    display: flex;
    flex-direction: column;
}

.container5ItemsSingle5 {
    align-content: start;
    margin-right: 5px;
    width: 120px;
    float: right;
}

.container5ItemsSingle6 {
    align-content: start;
    margin-right: 5px;
    width: 120px;
    float: right;
    font-size: 12px;
    color: #ff0000;
}

label {
    flex: 1;
    margin-right: 10px;
    text-align: left;
}

input {
    flex: 1;
    width: 200px;
    text-align: center;
}