<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuentrada Pe</title>
    <!--Custom CSS-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="{% static 'comprarPage/styles.css' %}">


</head>

<body>
    <form id="comprarForm" action="{% url 'comprarPage' %}" method="post">
        {% csrf_token %}
        <div class="header">
            <div class="imagenHeader"><img src="{% static 'comprarPage/logo.png' %}" height="40px"
                    onclick="javascript:location.reload(true)"></img></div>
        </div>
        <div class="banner"><img src="{% static 'comprarPage/banner.png' %}" width="100%"></img></div>
        <div class="seleccionarFechaBanner">
            <p>SELECCIONAR FECHA</p>
        </div>
        <div class="blankspace"></div>
        <div class="Absolute-Center">
            <div class="fechaBotonBanner" id="fechaBotonBanner">
                <p>Domingo 25 de Junio</p>
                <div id="fechaSinCheck"><i class="far fa-circle" id="circleIcon"></i></div>
                <div hidden id="fechaConCheck"><i class="far fa-check-circle" id="circleCheckIcon"></i></div>
            </div>
        </div>
        <div class="blankspace"></div>
        <div hidden class="todoEntradas" id="todoEntradas">
            <div class="imagenIzquierda">
                <img src="{% static 'comprarPage/zonas.png' %}" alt="Imagen" id="imagenZonas">
            </div>
            <div class="entradaPorFilas">
                {% for entrada in entradas %}
                <div class="entradaFila{{entrada.id}}">
                    <div class="entradaColumna1"><i class="fas fa-circle"></i></div>
                    <div class="entradaColumna2">{{entrada.descripcion}}</div>
                    <div class="entradaColumna3">
                        <p id="entradaPrecio{{entrada.id}}">S/. {{entrada.precio}}</p>
                    </div>
                    {% if forloop.counter < 4 %} <div class="entradaColumna4"><i class="fas fa-minus-circle"
                            onclick="disminuir('{{entrada.id}}')"></i></div>
                    <div class="entradaColumna5">
                        <p id="cantidadVisible{{entrada.id}}">00</p>
                        <input hidden name="cantidadHidden{{entrada.id}}" id="cantidadHidden{{entrada.id}}" value="0">
                    </div>
                    <div class="entradaColumna6"><i class="fas fa-plus-circle" onclick="aumentar('{{entrada.id}}')"></i>
                    </div>
                    {% elif forloop.counter == 4%}
                    <div></div>
                    <div class="custom-select"><select id="boxes1" name="boxes1" onchange="seleccionado()">
                        <option value="ninguno"> --- </option>
                        {% for boxs in boxes1 %}
                        <option value="{{ boxs.box }}">BOX {{ boxs.box }}</option>
                        {% endfor %}
                    </select>
                    <input hidden name="cantidadHidden5" id="cantidadHidden5" value="0">
                    </div>
                    <div id="opcionSeleccionadabox1" style="font-size: 17px;"></div>
                    <div></div>
                    {% elif forloop.counter == 5%}
                    <div></div>
                    <div class="custom-select"> <select id="boxes2" name="boxes2"  onchange="seleccionado()">
                        <option value="ninguno"> --- </option>
                        {% for boxs in boxes2 %}
                        <option value="{{ boxs.box }}">BOX {{ boxs.box }}</option>
                        {% endfor %}
                        </select>
                    <input hidden name="cantidadHidden6" id="cantidadHidden6" value="0">
                    </div>
                    <div id="opcionSeleccionadabox2" style="font-size: 17px;"></div>
                    <div></div>
                    {% elif forloop.counter == 6%}
                    <div></div>
                    <div class="custom-select"><select id="boxes3" name="boxes3" onchange="seleccionado()">
                            <option value="ninguno"> --- </option>
                            {% for boxs in boxes3 %}
                            <option value="{{ boxs.box }}">BOX {{ boxs.box }}</option>
                            {% endfor %}
                        </select>
                        <input hidden name="cantidadHidden4" id="cantidadHidden4" value="0">
                    </div>
                    <div id="opcionSeleccionadabox3" style="font-size: 17px;"></div>
                    <div></div>
                    {% endif %}
                    <div class="entradaColumna7">
                        <p id="entradasRestantes{{entrada.id}}">{{entrada.cantidad}}</p>
                    </div>
                </div>
                {% endfor %}
            <div class="totalEntradasDiv">
                <div class="totalMontoDiv">
                    <div class="totalTexto">
                        <p>Total S/.</p>
                    </div>
                    <div class="dummy"> </div>
                    <div class="totalEstatico">
                        <p id="totalEstatico">0</p>
                    </div>
                </div>
                <div></div>
                <div class="totalBotonDiv" id="comprarBoton" onclick="comprar()" hidden>COMPRAR</div>
                <input hidden id="boton" name="boton" value="">
            </div>
        </div>
        </div>
        <div class="blankspace"></div>

        <div class="datosCompradorTexto" id="datosCompradorTexto">
            <p>Datos del comprador</p>
        </div>
        <input hidden type="text" id="celular2" name="celular2" value="{{ celular }}">  
        <input hidden type="text" id="codigo2" name="codigo2" value="{{ codigo }}">
        <div class="blankspace"></div>
        <div class="todoObligatorio" id="todoObligatorio">
            <div class="contenedorCelular" id="contenedorCelular">
                <div>Celular</div>
                <input type="text" placeholder="Numero de celular" maxlength="9" onkeypress="return soloNumeros(event)"
                    id="celular" name="celular" value="{{ celular }}">                 
                <button type="button" id="buttonSMS" onclick="enviarSMS()">SMS</button>
            </div>
            <div class="contenedorCodigo" id="contenedorCodigo">
                <div>Codigo</div>
                <input type="text" placeholder="Codigo validacion" maxlength="6" id="codigo" name="codigo"
                    oninput="uppercase(event)" value="{{ codigo }}">            
                <button type="button" id="buttonValidar" onclick="enviarCodigo()">Validar</button>
            </div>
            <div id="celularigualwhatsapp" class="celularigualwhatsapp">
                <input type="checkbox" id="sameNumber" name="sameNumber" checked onchange="checkwhatsapp()">
                <label for="sameNumber">Mi celular es el mismo que mi WhatsApp</label>
            </div>

            <div class="contenedorWhatsapp" id="contenedorWhatsapp">
                <div>Whatsapp</div>
                <input type="text" placeholder="Numero de whatsapp" maxlength="9" onkeypress="return soloNumeros(event)"
                    id="whatsapp" name="whatsapp">
                <button type="button" id="buttonWhatsapp" onclick="enviarWhatsapp()">Codigo</button>
            </div>
            <div class="contenedorCodigoWhatsapp" id="contenedorCodigoWhatsapp">
                <div>Codigo</div>
                <input type="text" placeholder="Codigo whatsapp" maxlength="6" id="codigoWhatsapp" name="codigoWhatsapp"
                    oninput="uppercase(event)">
                <button type="button" id="buttonValidarWhatsapp" onclick="enviarCodigoWhatsapp()">Validar</button>
            </div>
            <div id="despuesWhatsapp">

                <div class="contenedorMedioPago" id="contenedorMedioPago">
                    <div><input type="radio" name="opciones" value="DNI"></div>
                    <div>DNI</div>
                    <div><input type="radio" name="opciones" value="Pasaporte"></div>
                    <div>Pasaporte</div>
                    <div><input type="radio" name="opciones" value="Carnet extrajeria"></div>
                    <div>C.E.</div>
                </div>

                <div class="contenedorDNI" id="contenedorDNI">
                    <div class="labelInput">Documento</div>
                    <input type="text" placeholder="Ingrese de documento" maxlength="20" id="dni" name="dni">
                    <button type="button">Validar</button>
                </div>

                <div class="contenedorNombre" id="contenedorNombre">
                    <div class="labelInput">Nombre</div>
                    <input type="text" placeholder="Nombres y apellidos" maxlength="59" id="nombre" name="nombre">
                    <button type="button">Validar</button>
                </div>

                <div class="contenedorPregunta" id="contenedorPregunta1">
                    <div class="labelInput">Pregunta</div>
                    <select name="mi_combobox" placeholder="Pregunta de seguridad">
                        {% for pregunta in preguntas %}
                        <option value="{{ opcion.value }}">{{ pregunta.pregunta }}</option>
                        {% endfor %}
                    </select>
                    <button type="button">Validar</button>
                </div>

                <div class="contenedorRespuesta" id="contenedorRespuesta1">
                    <div class="labelInput"></div>
                    <input type="text" placeholder="Respuesta a la pregunta 1" maxlength="59" id="respuesta1"
                        name="respuesta1" style="margin-top: -25px;">
                    <button type="button">Validar</button>
                </div>

                <div class="contenedorPregunta" id="contenedorPregunta2">
                    <div class="labelInput">Pregunta</div>
                    <select name="mi_combobox" placeholder="Pregunta de seguridad">
                        {% for pregunta in preguntas %}
                        <option value="{{ opcion.value }}">{{ pregunta.pregunta }}</option>
                        {% endfor %}
                    </select>
                    <button type="button">Validar</button>
                </div>

                <div class="contenedorRespuesta" id="contenedorRespuesta2">
                    <div class="labelInput"></div>
                    <input type="text" placeholder="Respuesta a la pregunta 2" maxlength="59" id="respuesta2"
                        name="respuesta2" style="margin-top: -25px;">
                    <button type="button">Validar</button>
                </div>

                <div class="contenedorPregunta" id="contenedorPregunta3">
                    <div class="labelInput">Pregunta</div>
                    <select name="mi_combobox" placeholder="Pregunta de seguridad">
                        {% for pregunta in preguntas %}
                        <option value="{{ opcion.value }}">{{ pregunta.pregunta }}</option>
                        {% endfor %}
                    </select>
                    <button type="button">Validar</button>
                </div>

                <div class="contenedorRespuesta" id="contenedorRespuesta3">
                    <div class="labelInput"></div>
                    <input type="text" placeholder="Respuesta a la pregunta 3" maxlength="59" id="respuesta3"
                        name="respuesta3" style="margin-top: -25px;">
                    <button type="button">Validar</button>
                </div>

                <div class="contenedorPin" id="contenedorPin">
                    <div>PIN</div>
                    <input type="text" placeholder="Ingrese PIN" maxlength="10" id="pin" name="pin"
                        onkeypress="return soloNumeros(event)">
                    <button type="button">Validar</button>
                </div>
            </div>
            <div class="comprarBotonFinal" id="comprarBotonFinal" onclick="comprar()">COMPRAR</div>

            <div
                style="margin-top: 40px; font-size: 18px; background-color: blueviolet; justify-content: center; width: 100%; border-radius: 10px; display: flex; justify-self: center; color: white;">
                Recuerde bien su PIN de seguridad</div>
        </div>
        <div class="blankspace2"></div>
        <div class="footer">
            <div class="imagenHeader"><img src="{% static 'comprarPage/footerlogo.png' %}" height="40px"></img>
            </div>
        </div>
        <!-- Scripts -->
        <script src="https://unpkg.com/scrollreveal"></script>
        <script>
            var comprarPageUrl = "{% url 'comprarPage' %}";
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="{% static 'comprarPage/script.js' %}"></script>
    </form>

</body>

</html>
