<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transferencia de entradas</title>
    <!--Custom CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'transferirPage/styles.css' %}">
</head>

<body>
    <form name="transferirForm" id="transferirForm" method="post">
        {% csrf_token %}
        <div class="header">
            <img src="{% static 'imagenes/headerlogo.png' %}" style="height: 30px; margin-left: 5%; align-self: center; " />
        </div>
        <div class="containerTodo">
            <div class="containerTitulo">Transfiere tu entrada</div>
                        <div class="containeriTexto">
                Entrada Nro
            </div>
            <div class="containerInput0">
                <input type="text" placeholder="Ingresa numero de entrada" id="numeroEntrada">
                <button type="button"> No recuerdo</button>
            </div>
            <div class="containeriTexto">
                DNI
            </div>
            <div class="containerInput1">
                <input type="text" placeholder="Ingresa tu DNI" id="dni">
            </div>
        </div>
        



        <div class="footer">
            <img src="{% static 'imagenes/footerlogo.png' %}" height="30px"
                style="display: flex; justify-self: center;  align-self: center;/>
        </div>
        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="{% static 'transferirPage/script.js' %}"></script>
    </form>

</body>

</html>
