<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transferencia de entradas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'recibirPage/styles.css' %}">
</head>

<body>
    <form name="transferirForm" action="{% url 'administrarPage' %}" id="transferirForm" method="post"
        autocomplete="off">
        {% csrf_token %}
        <div class="header">
            <img src="{% static 'imagenes/headerlogo.png' %}" style="height: 30px; margin-left: 5%; align-self: center;"
                onclick="window.location.href = '/'" />
        </div>
        <div class="containerTodo" id="containerTodo">
            <div class="containerTitulo">Recibe tu transferencia</div>

            <div class="containeriTexto">
                Codigo de transferencia
            </div>
            <div class="containerInput1">
                <input type="text" placeholder="Ingresa tu codigo" id="codigoTransferencia" name="codigoTransferencia">
            </div>

            <div class="containeriTexto">
                DNI del cliente anterior
            </div>

            <div class="containerInput1">
                <input type="text" placeholder="Ingresa el DNI" id="dniTransferencia" name="dniTransferencia">
            </div>

            <div class="containerButton1" onclick="enviarFormulario()">Validar</div>

            <div class="containerMensaje">
                <p id="estado"></p>
            </div>
            <div class="containerButton2" id="botonRecibir" onclick="continuarDatos()">Recibir Transferencia</div>
        </div>

        <div class="containerObligatorio" id="containerObligatorio">
            <div class="containeriTitle">Por su seguridad ingrese estos datos</div>
            <div class="containeriText">Numero de contacto</div>
            <div class="containerInput2">
                <p>+51</p>
                <input type="text" placeholder="Numero de contacto" maxlength="9" onkeypress="return soloNumeros(event)"
                    id="celular" name="celular">
                <button type="button" id="buttonSMS" onclick="enviarSMS()">Validar</button>
                <button type="button" id="buttonSMSenEspera">Validar</button>
            </div>
            <div class="containerInput2" id="containerCodigo">
                <p></p>
                <input type="text" placeholder="Codigo de validacion" maxlength="6" oninput="uppercase(event)"
                    value="{{ codigo }}" id="codigo" name="codigo">
                <button type="button" id="buttonValidar" onclick="enviarCodigo()">Verificar</button>
            </div>
            <div class="containerInput2" id="containerCodigoWhatsapp">
                <p>+51</p>
                <input type="text" placeholder="Numero de whatsapp" maxlength="9"
                    onkeypress="return soloNumeros(event)">
                <button type="button">Validar</button>
            </div>
            <div class="containeriText2">Tu numero de whastapp puede ser el mismo de contacto</div>

            <div class="containeriText">Documento personal</div>
            <div class="containerInput3">
                <input type="radio" id="DNI" name="Documento" value="DNI" checked
                    onchange="documentoSeleccionado(this)">
                <label for="DNI">DNI</label>
                <input type="radio" id="CE" name="Documento" value="CE" onchange="documentoSeleccionado(this)">
                <label for="CE">Carnet Extranjeria</label>
                <input type="radio" id="Pass" name="Documento" value="Pass" onchange="documentoSeleccionado(this)">
                <label for="Pass">Pasaporte</label>
            </div>
            <div class="containerInput6">
                <input type="text" placeholder="Ingresa tu documento" maxlength="8" id="dni" name="dni"
                    onkeypress="return soloNumeros(event)">
            </div>
            <div class="containeriText">Nombres y apellidos completos</div>
            <div class="containerInput6">
                <input type="text" placeholder="Nombres y apellidos" oninput="uppercase(event)" maxlength="50"
                    id="nombre" name="nombre">
            </div>
            <div class="containeriText">Pin secreto de seguridad</div>
            <div class="containerInput6">
                <input type="text" placeholder="Codigo de 6 a 10 digitos" maxlength="10" minlength="6" id="pin"
                    name="pin" onkeypress="return soloNumeros(event)">
            </div>
            <div class="containeriText3">
                <p>NUNCA COMPARTIR EL PIN SECRETO DE SEGURIDAD</p>
            </div>
            <div class="containerInput4">
                <input type="checkbox" id="Privacidad">
                <label for="Privacidad">Declaro que he leido y acepto los <a href="">terminos, condiciones y politica de
                        privacidad</a> de Entradas.pe</label>
            </div>

            <div class="containerInput4">
                <input type="checkbox" id="Spam">
                <label for="Spam">Autorizo que Entradas.pe me envie informacion sobre eventos, promociones y
                    encuentras.</label>
            </div>

            <div class="containerInput5">
                <button type="button" id="buttonOpcionales" onclick="datosOpcionales()">Agregar datos opcionales de
                    seguridad</button>
                <button type="button" id="buttonContinuar" onclick="continuar()">Continuar</button>
                <button type="button" id="buttonContinuar_1">Datos guardados</button>
            </div>
        </div>

        <div class="containerOpcional" id="containerOpcional">
            <div class="containeriTitle">Datos opcionales de seguridad</div>
            <div class="containeriText">Correo electronico</div>
            <div class="containerInput6">
                <input type="text" placeholder="Ingrese su correo electronico" id="correo" name="correo">
            </div>
            <!-- <div class="containerInput6">
                <input type="text" placeholder="Ingrese su correo">
                <button type="button">Validar</button>
            </div> -->
            <div class="containeriText">Preguntas de seguridad</div>
            <div class="containerInput7">
                <select id="pregunta1Sel" name="mi_combobox" placeholder="Pregunta de seguridad"
                    onchange="preguntaseleccionada()">
                    {% for pregunta in preguntas %}
                    <option value="{{ opcion.value }}">{{ pregunta.pregunta }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="containerInput6">
                <input type="text" placeholder="Respuesta a la pregunta 1" maxlength="59" id="respuesta1"
                    name="respuesta1">
            </div>
            <div class="containerInput7">
                <select id="pregunta2Sel" name="mi_combobox" placeholder="Pregunta de seguridad"
                    onchange="preguntaseleccionada()">
                    {% for pregunta in preguntas %}
                    <option value="{{ opcion.value }}">{{ pregunta.pregunta }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="containerInput6">
                <input type="text" placeholder="Respuesta a la pregunta 2" maxlength="59" id="respuesta2"
                    name="respuesta2">
            </div>
            <div class="containerInput7">
                <select id="pregunta3Sel" name="mi_combobox" placeholder="Pregunta de seguridad"
                    onchange="preguntaseleccionada()">
                    {% for pregunta in preguntas %}
                    <option value="{{ opcion.value }}">{{ pregunta.pregunta }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="containerInput6">
                <input type="text" placeholder="Respuesta a la pregunta 3" maxlength="59" id="respuesta3"
                    name="respuesta3">
            </div>
            <div class="containerInput8">
                <button type="button" id="buttonContinuarOpcional" onclick="verificarDatosOpcional()">Continuar</button>
                <button type="button" id="buttonContinuarOpcional_1">Datos opcionales guardados</button>
            </div>
        </div>

        <input type="text" id="boton" name="boton" value="" hidden>
        <div class="footer">
            <img src="{% static 'imagenes/footerlogo.png' %}" height="30px"
                style="display: flex; justify-self: center;  align-self: center;"
                onclick="javascript:location.reload(true)" />
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="{% static 'recibirPage/script.js' %}"></script>
    </form>
</body>

</html>