:root {
    --red: #FF0043;
    --white: #ffffff;
    --verde: #07A781;
    --morado: #7643F6;
    --negro: #000000;
    --gris: #858484;
    --yelow: #d9e806;
    --azul: #01A0E2;
    --rosado: #EC1074;
    --naraja: #F9970E;
}


.header {
    background: linear-gradient(to right, var(--red), var(--negro));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 9999;
}

.footer {
    background: linear-gradient(to right, var(--red), var(--negro));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 45px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    grid-template-columns: 1fr;
    display: grid;
    justify-content: right;
}

body {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
}

.containerTodo {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin-left: 25%;
    margin-right: 25%;
    grid-template-columns: 100%;
    border-width: 2px;
    border-radius: 12px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-color: var(--red);
    border-style: solid;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 45px;
    padding-bottom: 45px;
}

.containerTitulo {
    display: flex;
    background-color: #FF0043;
    border-radius: 10px;
    color: var(--white);
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.containeriTexto {
    justify-content: start;
    margin-top: 25px;
    margin-left: 10%;
    font-size: 18px;
}

.containerInput1 {
    display: flex;
    justify-self: center;
    width: 80%;
    height: 40px;
    align-items: center;
}


.containerInput1 input {
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.containerButton1,
.containerButton2 {
    margin: 15px;
    display: flex;
    justify-self: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    background-color: var(--white);
    border-radius: 8px;
    color: var(--red);
    border-color: var(--red);
    border-style: solid;
}

.containerButton1:hover,
.containerButton2:hover {
    cursor: pointer;
    background-color: var(--red);
    color: var(--white);
}

.containerButton1:active,
.containerButton2:active {
    opacity: 0.5;
}

.containerMensaje {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    border-color: var(--morado);
    background-color: var(--morado);
    color: var(--white);
    border-style: solid;
}

.containerMensaje p {
    margin: 0;
}

.containerButton2 {
    display: none;
}


.containerObligatorio,
.containerOpcional {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin-top: 20px;
    display: none;
    margin-right: 20%;
    margin-left: 20%;
    width: 60%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--red);
    border-radius: 20px;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 2%;
    margin-bottom: 60px;
}

.containeriTitle {
    display: flex;
    justify-self: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
    width: 60%;
}

.containerInput2 {
    margin-top: 10px;
    display: flex;
    justify-self: center;
    width: 60%;
    height: 30px;
    align-items: center;
}

.containerInput2 p {
    font-size: 0.6em;
    width: 8%;
}

.containerInput2 input {
    font-family: "Poppins", sans-serif;
    text-align: center;
    height: 100%;
    font-size: 0.6em;
    width: 60%;
}

.containerInput2 button {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    height: 120%;
    margin-left: 2%;
    width: 28%;
    background-color: var(--white);
    border-color: var(--red);
    color: var(--red);
}

.containerInput2 button:hover {
    cursor: pointer;
    background-color: var(--red);
    color: var(--white);
}

.containerInput2 button:active {
    opacity: 0.5;
}

#containerCodigoWhatsapp {
    display: none;
}

.containeriText2 {
    margin-top: 5px;
    margin-left: 10%;
    display: flex;
    justify-self: center;
    font-size: 0.35em;
    width: 60%;
    display: none;
}

.containerInput3 {
    margin-top: 15px;
    display: flex;
    justify-self: center;
    justify-content: center;
    font-size: 0.5em;
    width: 50%;
}

.containerInput3 label {
    display: flex;
    text-align: start;
    width: auto;
    margin-right: 5%;
}

.containeriTitle {
    display: flex;
    justify-self: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
    width: 60%;
}

.containeriText {
    margin-top: 20px;
    display: flex;
    justify-self: center;
    text-align: start;
    font-size: 0.6em;
    width: 60%;
}

.containeriText3 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    color: var(--red);
    font-size: 0.4em;
    width: 80%;
    margin-top: -20px;

}

.containerInput4 {
    margin-top: 5px;
    width: 60%;
    display: flex;
    justify-self: center;
    font-size: 0.45em;
    align-items: start;
    text-align: start;
}

.containerInput5 {
    margin-top: 20px;
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 60%;
    height: 60px;
}

.containerInput5 button:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--red);
    border-color: var(--red);
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 0.65em;
    width: 60%;
}

.containerInput5 button:nth-child(1):hover {
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

.containerInput5 button:nth-child(1):active {

    opacity: 0.5;
}

.containerInput5 button:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--red);
    border-color: var(--red);
    border-radius: 8px;
    margin-left: 10%;
    font-family: "Poppins", sans-serif;
    font-size: 0.7em;
    width: 30%;
}

.containerInput5 button:nth-child(2):hover {
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

.containerInput5 button:nth-child(2):active {

    opacity: 0.5;
}

.containerInput6 {
    margin-top: 10px;
    display: flex;
    justify-self: center;
    width: 60%;
    height: 30px;
    margin-bottom: 20px;
}

.containerInput6 input {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 0.6em;
}

#buttonContinuar_1 {
    display: none;
    justify-self: center;
    width: 60%;
    background-color: var(--red);
    border-radius: 12px;
    border-color: var(--red);
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-size: 0.7em;

}

#buttonSMSenEspera {
    display: none;
    color: var(--white);
    background-color: var(--red);
    justify-content: center;
    align-items: center;
}

#buttonSMSenEspera:hover {
    background-color: var(--red);
    cursor: auto;
}

#buttonSMSenEspera:active {
    opacity: 1;
}

.containerInput7 {
    margin-top: 10px;
    margin-bottom: -5px;
    display: flex;
    justify-self: center;
    width: 60%;
    height: 30px;
}

.containerInput7 select {
    width: 100%;
    height: 100%;
    font-size: 0.7em;
    text-align: center;
}

.containerInput8 {
    margin-top: 30px;
    margin-bottom: -5px;
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 60%;
    height: 45px;
}

.containerInput8 button {
    background-color: var(--white);
    color: var(--red);
    border-color: var(--red);
    border-radius: 12px;
    height: 120%;
    width: 50%;
    font-family: "Poppins", sans-serif;
    font-size: 0.7em;
}

.containerInput8 button:hover {
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

.containerInput8 button:active {
    opacity: 0.5;
}

#buttonContinuarOpcional_1 {
    display: none;
    align-items: center;
    height: 80px;
    justify-content: center;
    background-color: var(--red);
    color: var(--white);
}

#buttonContinuarOpcional_1:hover {
    background-color: var(--red);
    cursor: auto;
}

#buttonContinuarOpcional_1:active {
    opacity: 1;
}

@media (max-width:900px) {
    .containerTodo {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        padding-left: 0;
        padding-right: 0;
    }

    .containerTitulo {
        margin-left: 5px;
        margin-right: 5px;
    }

    .containeriTexto {
        margin-left: 10px;

    }

    .containerInput1 {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 12px;
    }

    .containerMensaje {
        justify-self: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 90%;
        display: flex;
        margin-left: 5px;
        margin-right: 5px;
    }


}

@media (max-width:1300px) {
    .containerSeleccion {
        margin-left: 7%;
        width: 86%;
    }

    .containerSeleccion img {
        width: 35%;
        height: 500px;
    }

    .containerEntradas {
        width: 63%;
    }

    body {
        font-size: 25px;
    }

}

@media (max-width:950px) {

    .containerFecha {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }

    .containerObligatorio,
    .containerOpcional {
        margin-left: 10%;
        width: 80%;
    }

    .containerObligatorio div,
    .containerOpcional div {
        width: 80%;
    }


    .containerSeleccion {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        margin-left: 10%;
        width: 80%;
        justify-content: center;
    }

    .containerSeleccion img {
        display: flex;
        justify-content: center;
        justify-self: center;
        width: 80%;
        margin-bottom: 20px;

    }

    .containerEntradas {
        width: 100%;
    }

    body {
        font-size: 25px;
    }

}

@media (max-width:600px) {
    body {
        font-size: 20px;
    }

    .containerObligatorio,
    .containerOpcional {
        margin-left: 2%;
        width: 96%;
    }

    .containerObligatorio div,
    .containerOpcional div {
        width: 96%;
    }

    .containerSeleccion {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        margin-left: 2%;
        width: 96%;
        justify-content: center;
    }

    .containerSeleccion img {
        display: flex;
        justify-content: center;
        justify-self: center;
        width: 80%;
        margin-bottom: 20px;

    }

    .containerEntradas {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width:1300px) {
    .containerSeleccion {
        margin-left: 7%;
        width: 86%;
    }

    .containerSeleccion img {
        width: 35%;
        height: 500px;
    }

    .containerEntradas {
        width: 63%;
    }

    body {
        font-size: 25px;
    }

}

@media (max-width:950px) {

    .containerFecha {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }

    .containerObligatorio,
    .containerOpcional {
        margin-left: 10%;
        width: 80%;
    }

    .containerObligatorio div,
    .containerOpcional div {
        width: 80%;
    }


    .containerSeleccion {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        margin-left: 10%;
        width: 80%;
        justify-content: center;
    }

    .containerSeleccion img {
        display: flex;
        justify-content: center;
        justify-self: center;
        width: 80%;
        margin-bottom: 20px;

    }

    .containerEntradas {
        width: 100%;
    }

    body {
        font-size: 25px;
    }

}

@media (max-width:600px) {
    body {
        font-size: 20px;
    }

    .containerObligatorio,
    .containerOpcional {
        margin-left: 2%;
        width: 96%;
    }

    .containerObligatorio div,
    .containerOpcional div {
        width: 96%;
    }

    .containerSeleccion {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        margin-left: 2%;
        width: 96%;
        justify-content: center;
    }

    .containerSeleccion img {
        display: flex;
        justify-content: center;
        justify-self: center;
        width: 80%;
        margin-bottom: 20px;

    }

    .containerEntradas {
        margin-left: 0;
        width: 100%;
    }

    .containerInput5 button:nth-child(1) {
        font-size: 0.4em;
    }
}